@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container">
    <div class="login-box">
        <h1>@ViewData["Title"]</h1>
        <form id="account" method="post">
            <h2>Utiliza una cuenta para iniciar sesión.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar Sesión</button>
            <div class="link-section">
                <p><a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a></p>
                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a></p>
                <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación de correo</a></p>
            </div>
            <a href="/" class="btn btn-secondary w-100 mt-3">Volver al Inicio</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        margin-top: 20px; /* Espacio adicional arriba del botón */
    }

    .login-box {
        text-align: center;
        color: #333;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        width: 80%;
        max-width: 400px;
    }

    .form-floating {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: 600; /* Más bold para mejor visibilidad */
        display: inline-block;
        margin-bottom: 8px; /* Espacio entre enlaces */
    }

        a:hover {
            text-decoration: underline;
            color: #0056b3; /* Un color más oscuro para hover */
        }

    .link-section p {
        margin: 0; /* Remover el margen para que los enlaces estén más juntos */
        padding: 5px; /* Un poco de padding para mejor tacto al hacer clic */
        background-color: #f8f9fa; /* Un fondo sutil para destacar la sección */
        border-radius: 4px; /* Bordes redondeados para suavizar el diseño */
    }

        .link-section p:hover {
            background-color: #dde5ea; /* Un cambio de color al pasar el ratón */
        }
</style>
