@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
}

<div class="container">
    <div class="register-box">
        <h1>@ViewData["Title"]</h1>
        <h2>Crea una nueva cuenta.</h2>
        <hr />
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Nombre" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="Input.Nombre">Nombre</label>
                        <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.PrimerApellido" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="Input.PrimerApellido">Primer Apellido</label>
                        <span asp-validation-for="Input.PrimerApellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.SegundoApellido" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="Input.SegundoApellido">Segundo Apellido</label>
                        <span asp-validation-for="Input.SegundoApellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ImagenUsuario" class="control-label">Imagen de Usuario</label>
                        <input asp-for="Input.ImagenUsuario" class="form-control" type="file" />
                        <span asp-validation-for="Input.ImagenUsuario" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Registrarse</button>
            <a href="/" class="btn btn-secondary mt-3">Volver al Inicio</a>
        </form>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }

    .register-box {
        text-align: center;
        color: #333;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        width: 90%;
        max-width: 800px;
    }

    .form-floating {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        padding: 10px 20px;
        color: white;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .row {
        margin-bottom: 20px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
