@model Veterinaria.DAL.Mascota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MascotaID" />
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TipoMascotaId" class="form-control"></input>
            <input type="hidden" asp-for="RazaId" class="form-control"></input>
            <input type="hidden" asp-for="GeneroId" class="form-control"></input>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UsuarioCreacionId" class="form-control" ></input>
            <input type="hidden" asp-for="UsuarioModificacionId" class="form-control" ></input>
            <div class="form-group">
                <label asp-for="ImagenMascota" class="control-label"></label>
                <img src="@Url.Action("GetImagenMascota", "Mascotas", new { id = Model.MascotaID })" alt="Imagen Mascota" style="width: 100px; height: auto;" />
                <span asp-validation-for="ImagenMascota" class="text-danger"></span>
            </div>
                    <input type="hidden" asp-for="FechaCreacion" class="form-control" />
                    <input type="hidden" asp-for="FechaModificacion" class="form-control" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
