@model Veterinaria.DAL.MedicamentoCita

@{
    ViewData["Title"] = "Eliminar Medicamento de la Cita";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Eliminar Medicamento de la Cita</h1>
    <h3 class="text-danger text-center mb-3">¿Está seguro que desea eliminar esto?</h3>

    <div class="card shadow">
        <div class="card-body">
            <h4 class="text-secondary">Detalles del Medicamento</h4>
            <hr />
            <dl class="row">
                <dt class="col-md-4">Dosis:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Dosis)</dd>

                <dt class="col-md-4">Descripción de la Cita:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Cita.Descripcion)</dd>

                <dt class="col-md-4">Nombre del Medicamento:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Medicamento.NombreMedicamento)</dd>
            </dl>
            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="MedicamentoCitaID" />
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
