@model Veterinaria.DAL.DesparasitacionVacuna

@{
    ViewData["Title"] = "Eliminar Desparasitación/Vacuna";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Eliminar Desparasitación o Vacuna</h1>
    <h3 class="text-center text-danger mb-3">¿Está seguro que desea eliminar esto?</h3>

    <div class="card shadow">
        <div class="card-body">
            <h4 class="text-secondary">Detalles de Desparasitación/Vacuna</h4>
            <hr />
            <dl class="row">
                <dt class="col-md-4">Tipo:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Tipo)</dd>

                <dt class="col-md-4">Fecha:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Fecha)</dd>

                <dt class="col-md-4">Producto:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Producto)</dd>

                <dt class="col-md-4">Mascota:</dt>
                <dd class="col-md-8">@Html.DisplayFor(model => model.Mascota.NombreMascota)</dd>
            </dl>
            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="DesparasitacionVacunaID" />
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
