@model Veterinaria.DAL.DesparasitacionVacuna

@{
    ViewData["Title"] = "Editar Desparasitación/Vacuna";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Editar Desparasitación o Vacuna</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" class="card shadow">
                <div class="card-body">
                    <h4 class="text-secondary">Detalles del Procedimiento</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input type="hidden" asp-for="DesparasitacionVacunaID" />

                    <div class="form-group">
                        <label asp-for="MascotaID" class="control-label">Mascota</label>
                        <select asp-for="MascotaID" class="form-control" asp-items="ViewBag.MascotaID"></select>
                        <span asp-validation-for="MascotaID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tipo" class="control-label">Tipo</label>
                        <input asp-for="Tipo" class="form-control" placeholder="Ingrese el tipo de desparasitación/vacuna" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label">Fecha</label>
                        <input asp-for="Fecha" type="date" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Producto" class="control-label">Producto</label>
                        <input asp-for="Producto" class="form-control" placeholder="Ingrese el nombre del producto" />
                        <span asp-validation-for="Producto" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
