@model Sistema_Veterinario.DAL.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioID" />
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolID" class="control-label"></label>
                <select asp-for="RolID" class="form-control" asp-items="ViewBag.RolID"></select>
                <span asp-validation-for="RolID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenUsuario" class="control-label"></label>
                <input asp-for="ImagenUsuario" class="form-control" />
                <span asp-validation-for="ImagenUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimaConexion" class="control-label"></label>
                <input asp-for="UltimaConexion" class="form-control" />
                <span asp-validation-for="UltimaConexion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
