@model Sistema_Veterinario.DAL.Mascota

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MascotaID" />
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMascotaID" class="control-label"></label>
                <select asp-for="TipoMascotaID" class="form-control" asp-items="ViewBag.TipoMascotaID"></select>
                <span asp-validation-for="TipoMascotaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaID" class="control-label"></label>
                <select asp-for="RazaID" class="form-control" asp-items="ViewBag.RazaID"></select>
                <span asp-validation-for="RazaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuenoID" class="control-label"></label>
                <select asp-for="DuenoID" class="form-control" asp-items="ViewBag.DuenoID"></select>
                <span asp-validation-for="DuenoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenMascota" class="control-label"></label>
                <input asp-for="ImagenMascota" class="form-control" />
                <span asp-validation-for="ImagenMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
